{{#partial page}}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>
          {{#if project.is_new()}}
            Edit Project
          {{else}}
            Create Project
          {{/if}}
        </h1>
      </div>



    </div>
  </di>
</div>
{{/partial}}
{{~> layout~}}
