<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon-precomposed" href="/assets/images/effect-letters-alphabet-red-152-80077.png">
  <link rel="icon" href="/assets/images/effect-letters-alphabet-red-152-80077.png" sizes="152x152">

  <title>{{title}}</title>

  <link rel="stylesheet" media="all" href="/assets/vendor/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" media="all" href="/assets/vendor/bootstrap/css/bootstrap-theme.min.css" />

  <script src="/assets/vendor/jquery-2.2.4.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>

{{~#block page}}{{/block~}}

</body>
</html>
